# Deployment used by `npx convex dev`
APP_ENV=production
CONVEX_DEPLOYMENT=dev:adorable-lemur-432 # team: serhii-798ae, project: notes-react
EXPO_PUBLIC_CONVEX_URL=https://adorable-lemur-432.convex.cloud
